<footer class="bg-white border-top p-3 text-muted small">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div>
                {% assign all_pages = site.pages | sort: 'title' %}
                {% for page in all_pages %}
                  <span><a href="{{ site.baseurl }}{{ page.url }}" alt="{{ page.title }}">{{ page.title }}</a></span>
                  {% if forloop.last == false %}&middot;{% endif %}
                {% endfor %}
            </div>
            <div>
                <span>Copyright © <script>document.write(new Date().getFullYear())</script></span>
            </div>
        </div>
    </div>
</footer>
