<main class="container mt-5">
  <div class="row">
    <aside class="col-md-4">
      <nav id="table-of-contents" class="card">
        <div class="card-header">
          Table of Contents
        </div>
        <ul class="list-group list-group-flush">
          {% for header in page.content | split: "<h2>" %}
          {% if forloop.index > 1 %}
          <li class="list-group-item"><a href="#{{ header | strip_html | slugify }}">{{ header | strip_html }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </aside>
    <div id="content" class="col-md-8">
      {{ content }}
    </div>
  </div>
</main>
