---
title: "Categories"
layout: default
permalink: "/categories.html"
---
{% for category in site.categories %}
<h4 class="mt-5 mb-4 pb-2 border-bottom" id="{{ category[0] | slugify }}">
  <span class="text-capitalize small font-weight-bold">{{ category[0] }}</span>
</h4>
<div class="row">
  {% assign posts_in_category = category[1] %}
  {% for post in posts_in_category %}
    <div class="col-md-4 mb-5">
      <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
    </div>
  {% endfor %}
</div>
{% endfor %}
