<!DOCTYPE html>
<html lang="de">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {% seo %}
    <meta name="keywords" content="{% for tag in site.tags %}{{ tag[0] }}{% if forloop.last == false %}, {% endif %}{% endfor %}">
    <link
      href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/quartz/bootstrap.min.css"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <!-- Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-J4H061FFHS"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-J4H061FFHS");
    </script>
    <link rel="icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico?v=2' | relative_url }}">
  </head>

  <body class="{{ page.layout | default: '' }}">
    <!-- Header Navigation -->
    <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
      <div class="container">
        <!-- Title -->
        <a class="navbar-brand" href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>

        <!-- Toggler -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation Menu -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            {% assign displayed_categories = "" %} {% for category in
            site.categories %} {% assign top_level_category = category[0] |
            split: '/' | first %} {% if displayed_categories contains
            top_level_category %} {% continue %} {% else %}
            <li class="nav-item">
              <a
                class="nav-link"
                href="{{ site.baseurl }}/categories#{{ top_level_category | slugify }}"
              >
                {{ top_level_category | capitalize }}
              </a>
            </li>
            {% assign displayed_categories = displayed_categories | append:
            top_level_category %} {% endif %} {% endfor %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main Content -->
    <main class="container">{{ content }}</main>

    <!-- Footer -->
    <footer class="my-3">
      <div class="container text-center">
        <ul class="list-inline">
          {% for page in site.pages %} {% if page.title and page.permalink and
          page.exclude != true %}
          <li class="list-inline-item">
            <a
              href="{{ site.baseurl }}{{ page.permalink }}"
              class="text-decoration-none"
            >
              {{ page.title }}
            </a>
          </li>
          {% endif %} {% endfor %}
        </ul>
      </div>
      <div class="container text-center">
        <a href="https://www.freepik.com" target="_new" class="text-decoration-none text-body-tertiary">
          &copy; Illustrations by Freepik
        </a>
      </div>
    </footer>
  </body>
</html>
